<!DOCTYPE html>
<html>

<head>
    <title>Test - Home</title>
    <%- include('partials/cssBundle.ejs')  %>
    <link href="/assets/css/site.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <%- include('partials/menu.ejs')  %>
    <h1>Add Employee</h1>

    <form class="form">

        <div class="row">

            <input type="hidden" id="hdnEmployeeID" value="<%= data.id %>" />
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="txtEmployee">Name</label>
                    <input type="text" id="txtEmployee" class="form-control" value="<%= data.name %>">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="txtDesignation">Name</label>
                    <input type="text" id="txtDesignation" class="form-control" value="<%= data.designation %>">
                </div>
            </div>
        </div>
        <input type="button" id="btnSave" value="Save">
        <input type="button" id="btnCancel" value="Cancel">
    </form>


    <%- include('partials/jsBundle.ejs')  %>
    <script src="/assets/js/service.js"></script>
    <script src="/assets/js/employee.js"></script>
</body>

</html>